body {
    padding: 0;
    margin: 0;
}

div.page {
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 10fr 40px;
    grid-template-areas: 'header header' 
                         'menu mainContent'
                         'footer footer';
}

div.header {
    background-color: rgb(26, 91, 230);
    grid-area: header;
    text-align: center;
    color: white;
    

}

div.menu {
    grid-area: menu;
    padding: 10px
}

div.mainContent {
    grid-area: mainContent;
    padding-left: 10px;
    border-style: solid;
    border-width: 5px;
}

div.footer {
    background-color: rgb(161, 159, 159);
    grid-area: footer;
    padding: 0;
    color: white;
    text-align: right;

}
div.footer.p {
    position:absolute;
    bottom: 5px;
}

a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
} 

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}
a.active {
    font-weight: bold;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menubars {
    position: relative;
    right: 10px;
    top: 10px;
}

@media only screen and (max-width: 600px) {
    div.page {
        grid-template-columns: 1fr;
        grid-template-rows: 20px 1fr 4fr 20px;
        grid-template-areas: 'header' 
                             'menu'
                             'mainContent'
                             'footer';
    }

}